<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" [opened]="true" mode="side">
    <div class="sidenav-logo">
      <img src="../assets/img/logo.png" alt="logo">
    </div>
    <ul>
      <li routerLink='/dashboard' routerLinkActive="active-link"><mat-icon>dashboard</mat-icon> Dashboard</li>
      <li routerLink='/user' routerLinkActive="active-link"><mat-icon>person_outline</mat-icon> User</li>
    </ul>
  </mat-drawer>

  <div class="toolbar-content">
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <mat-icon class="cp" aria-hidden="false" aria-label="menu icon" fontIcon="menu"
          (click)="drawer.toggle()"></mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>