<mat-card class="user-card-header">
    <div class="user-card-header-details">
        <div class="user-image">
            <img src="../assets/img/user.png">
        </div>
        <div>
            <h1>{{user.firstName}} {{user.lastName}}</h1>
            <p>{{user.email}}</p>
        </div>
    </div>
</mat-card>
<mat-card class="user-card-details">
    <button class="menu-btn" mat-button [matMenuTriggerFor]="menu" #menuTrigger><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editUserDialog()">Edit</button>
    </mat-menu>

    <div>
        <mat-card-title>Address</mat-card-title>
        <mat-card-content>
            {{user.address}} <br>
            {{user.zipCode}} {{user.city}}
        </mat-card-content>
    </div>
    <div>
        <mat-card-title>Birthday</mat-card-title>
        <mat-card-content>
            {{user.birthDate | date: 'dd.MM.yyyy'}}
        </mat-card-content>
    </div>
    <div>
        <mat-card-title>Phone</mat-card-title>
        <mat-card-content>
            {{user.phone}}
        </mat-card-content>
    </div>
</mat-card>